#header{padding:2em 1em 1em 1em;background: #eee;height: 10em;}
#content{margin:0;padding: 1em 2em 4em 2em;background: #fff;min-height: 20em;}
#footer{font-family: 'Varela', sans-serif;font-size:1em;color:#666;padding:2em 1em 1em 1em;background: #eee;text-transform: lowercase}
#footer a{text-decoration: none;color:#c00;font-weight: bold;}
#featured_company{float:right;width: 250px;}
#job_category_selector{margin: 0 0 2.5em 0;background: #eee;padding: .5em;}
#last_jobs{float:left;width: 620px;}
#menu{background: #c00;border-bottom: 10px solid #eee}
#user{float:right;padding: 1em;}
#logo{float:left;font-family: 'Varela', sans-serif;font-size: 5em;color:#888;font-weight: bold;text-transform:lowercase;letter-spacing: -0.07em;
font-weight: 100;}
.small_logo{font-family: 'Varela', sans-serif;color:#666;text-transform:uppercase;}
#logo a{color:inherit;text-decoration: none;background: transparent !important}
#logo a:hover .orange{color:#333;}
#tagline{font-family: 'Varela', sans-serif;font-size:1.4em;color:#777;text-transform:lowercase;margin-left:7px;}
.editor{width: 500px;height: 150px;}
#menu a{color:#fff;text-decoration: none;font-weight: bold;font-size: 1.3em;}
#menu ul{margin: 0;padding: 1em;background: #c00;}
#menu li{padding:.6em 1em .4em 1em;margin-bottom: .1em;display: inline;}
#menu li.active{background-color: #333;}
#menu li.active a{color:#fff;}
#menu .title{color:#fff;font-size: 1.1em;font-weight: bold;background-color: #333;padding: .5em .2em .5em .7em;}
#menu a:hover{background: none; text-decoration: underline;}
.new{background: url('../images/add.png') no-repeat left; padding-left: 18px;}
.edit{background: url('../images/edit.png') no-repeat left; padding-left: 18px;}
/* Permissions */
table.permissions td{padding: 2px 15px 2px 0px;}
th.actions{width: 200px}

.textarea_list{padding: 0}
.textarea_list textarea{height: 8em;width: 40em;}
.textarea_list img, .textarea_list a{vertical-align: top;}
.data{border:1px solid #ccc;padding: 0.7em;background-color: #f9f9f9;margin-top: 1.5em;}
li.data{padding: 1em;}
.note_metadata{margin-top:.5em;font-size: .8em}
.disabled_note{width: 40em;}
.note{margin-top:1.5em;}
.worker_note{border: 1px solid #666}

h3 a{color:inherit;}