<h1><%= t 'common.editing', :what => t_m %> </h1>
<p><%= edit_links(item) %></p>
<% if !class_name.validators_on(:client_id).empty? && current_user.accessible_clients.empty?  %>
  <p class="alert"><%= t('common.clients_needed') %></p>
<% else %>
  <%= render controller.controller_path + '/form' %>
<% end %>
